.advantages {
    background-image: linear-gradient(-5deg, #f2f2f2 0%, #f2f2f2 75%,
     #ffffff 75.1%, #ffffff 100%);
}

.advantages__wrapper {
    display: flex;
    flex-direction: column;

    padding: 0 20px;
}

.advantages__phone {
    display: none;

    height: 250px;
    width: 140px;
    margin: 0 auto;
    padding: 35px 10px 0px 10px;

    background-image: url("../img/Iphone.png");
    background-position: 0 0;
    background-size: calc(140px + 2*10px) calc(250px + 35px + 38px);
    background-repeat: no-repeat;
    &--smile {
        display: block;
    }
}

@media (min-resolution: 1.5dppx), 
        (min-resolution: 144dpi) {
            .advantages__phone {
                background-image: url("../img/Iphone@2x.png");
            }
}

.advantages__slogan-wrapper {
    box-sizing: border-box;
    padding: 0 20px;
    padding-top: 45px;
    min-height: 300px;

    font-size: 24px;
    font-weight: 100;

    & :last-child {
        margin-bottom: 0;
    }
}

.advantages__slogan {
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
}

.advantages__list :last-child {
    margin-bottom: 0;
}

.advantages__item {
    margin-bottom: 30px;
    text-align: center;
}

.advantages__item h3 {
    margin: 0;
    margin-bottom: 10px;
    
    text-align: center;
    font-size: 18px;
}

.advantages__effect {
    display: none;
}

@media (min-width: @tablet-width) {
    .advantages {
        background-image: linear-gradient(-5deg, #f2f2f2 0%, #f2f2f2 75%,
     #ffffff 75.1%, #ffffff 100%);
    }

    .advantages__wrapper {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .advantages__slogan-wrapper {
        min-height: 245px;

        font-size: 40px;
        line-height: 42px;
    }

    .advantages__slogan {
        margin: 0;
    }

    .advantages__list {
        align-self: flex-end;

        width: 310px;
        margin-bottom: 45px;
    }

    .advantages__item, .advantages__item h3 {
        text-align: left;
    }

    .advantages__item {
        margin-bottom: 40px;
    }

    .advantages__phone-wrapper {
        margin-right: 40px;
    }

    .advantages__phone {
        height: 425px;
        width: 240px;
        padding: 60px 15px 0 15px;

        background-size: calc(240px + 2*15px) calc(425px + 60px + 70px);
    }

    .advantages__effect-back {
        background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
    }

    .advantages__effect {
        display: block;

        padding: 95px 20px 130px 330px;
        margin: 0 auto;
        width: 310px;
    }

    .advantages__research-title {
        width: 170px;

        font-size: 30px;
        line-height: 36px;
    }

    .advantages__research-link {
        color: #d22856;
    }
}

@media (min-width: @desktop-width) {
    .advantages {
        background-image: linear-gradient(-5deg, #f2f2f2 0%, #f2f2f2 73%,
     #ffffff 73.1%, #ffffff 100%);
    }

    .advantages__slogan-wrapper {
        font-size: 50px;
        line-height: 60px;
    }

    .advantages__wrapper {
        flex-direction: column-reverse;

        min-height: 560px;
    }

    .advantages__phone-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin: 0;
        width: 940px;
    }
    
    .advantages__img-wrapper {
        position: relative;

        width: 290px;
        overflow: hidden;
        &::after {
            content: "";
            
            display: block;

            position: absolute;
            bottom: -1px;
            left: 10px;
            right: 10px;

            
            height: 1px;
            
            border-radius: 50%; 
            
            box-shadow: 0 0 13px 0.5px #000000;
        }
    }

    .advantages__phone {
        display: block;
        
        margin-bottom: -38px;
        padding: 40px 11px 0 11px;
        height: 298px;
        width: 169px;

        background-size: calc(169px + 2*11px) calc(298px + 40px + 42px);
    }

    .advantages__list {
        display: flex;
        justify-content: space-between;
        align-self: auto;

        margin: 0;        
        margin-top: 55px;
        width: 940px;
    }
    
    .advantages__item {
        box-sizing: border-box;
        margin: 0;
        width: 290px;

        text-align: center;

        &:nth-child(1) {
            padding: 0 20px;
        }

        &:nth-child(2) {
            padding: 0 30px;
        }

        &:nth-child(3) {
            padding: 0 25px;
        }
    }

    .advantages__item h3 {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }

    .advantages__item span {
        font-size: 18px;
    }

    .advantages__effect-back {
        background-image: none;
    }

    .advantages__effect {
        width: 520px;
        padding: 160px 55px 110px 370px;
    }

    .advantages__research-title {
        width: 300px;
    }
}