.app-price {
    min-height: 470px;

    background-image: linear-gradient(-5deg, #f2f2f2 0%, #f2f2f2 89%,
     #ffffff 89%, #ffffff 100%);
}

.app-price__wrapper-wrapper {
    margin: 0 auto;
    width: 98%;

    overflow: hidden;

    .bord(green);
}

.app-price__table-wrapper {
    margin: 0 auto;
    width: 280px;

    .bord(red);
}

.app-price__table {
    width: 300%;
    border-collapse: collapse;

    transition-property: transform;
    transition-duration: 2s;


    &--1-column {
        transform: translateX(0);
    }

    &--2-column {
        transform: translateX(-33.4%);
    }

    &--3-column {
        transform: translateX(-66.6%);
    }
}

.app-price__h-table-cell {
    position: relative;

    padding: 20px 0;

    text-align: center;
    color: #ffffff;

    border: 2px solid #e5e5e5;
    background-color: #283645;

    overflow: hidden;

    &--empty {
        display: none;

        background-color: transparent;
        border: none;
    }

    &--hit::before {
        content: "Хит";

        position: absolute;
        left: -25px;
        top: 10px;

        width: 100px;
        height: 25px;

        text-transform: uppercase;

        background-color: red;

        transform: rotate(-45deg);
    }
}

.app-price__table-cell {
    position: relative;

    padding: 18px 0 18px 25px;

    line-height: 30px;
    text-transform: uppercase;

    border: 2px solid #e5e5e5;
    background-color: #ffffff;
}

.app-price__description {
    display: none;
}

.app-price__table-title {
    margin: 0 0 10px 0;

    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.app-price__h-text {
    font-weight: 100;
    font-size: 24px;
    line-height: 30px;
}

.app-price__check {
    position: absolute;
    top: 20px;
    right: 18px;
}

.app-price__check--yes {
    content: url("../img/yes.svg");
}

.app-price__check--no {
    content: url("../img/no.svg");
}