.map {
    height: 200px;
    background-image: url("../img/map.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
    .map {
        height: 375px;
    }
}

@media (min-width: @desktop-width) {
    .map {
        height: 505px;
    }
}