.page-footer {
    display: none;
}

@media (min-width: @tablet-width) {
    .page-footer {
        display: block;
        padding: 0 20px;
    }

    .page-footer__wrapper {
        display: flex;
        
        justify-content: space-between;
        align-items: center;

        box-sizing: border-box;
        margin: 0 auto;
        min-height: 127px;
        width: 620px;
    }

    .page-footer__logo-link {
        margin-top: -20px;

        &:hover path {
            fill: #d22856;
        }

        &:focus path {
            fill: #d22856;
        }

        &:active {
            opacity: 0.3;
        }
    }

    .page-footer__desktop-logotype {
        display: none;
    }
}

@media (min-width: @desktop-width) {
    .page-footer {
        min-height: 197px;
    }

    .page-footer__wrapper {
        width: 940px;
        min-height: 200px;
    }

    .page-footer__desktop-logotype {
        display: inline-block;
    }

    .page-footer__tablet-logotype {
        display: none;
    }
}