.page-footer {
    display: none;
}

@media (min-width: @tablet-width) {
    .page-footer {
        display: block;
        padding: 0 20px;
    }

    .page-footer__wrapper {
        display: flex;
        
        justify-content: space-between;
        align-items: center;

        box-sizing: border-box;
        margin: 0 auto;
        min-height: 127px;
        width: 620px;
    }

    .page-footer__wrapper > svg {
        margin-top: -20px;
    }
}

@media (min-width: @desktop-width) {
    .page-footer {
        min-height: 197px;
    }

    .page-footer__wrapper {
        width: 940px;
        min-height: 200px;
    }
}