.page-header {  
  display: flex;
  flex-direction: column;  
}

.page-header__wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  min-height: 70px;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__logo-link {
  width: 74px;
  height: 23px;
  overflow: hidden;

  outline: none;

    &:hover path{
      fill: #d22856;
  }

    &:focus path{
      fill: #d22856;
  }
}

.page-header__logo-link svg {
  width: 146px;
  height: 40px;
}

.page-header__desktop-svg {
  display: none;
}

.page-header__tablet-svg {
  display: none;
}

@media (max-width: @only-portable-width) {
  .main-nav--opened {
    .page-header__wrapper {
      position: relative;
      border-top: 1px solid #485461;
      border-bottom: 1px solid #000001;
      background-color: #283645;
    }
    &.page-header {
      background-image: none;
    }
  }
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    min-height: 110px;
  }

  .page-header__logo-link {
    width: auto;
    height: auto;
  }

  .page-header__tablet-svg {
    display: inline;
  }

  .page-header__mobile-svg {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    min-height: 850px;

    background-color: #1d2631;
    background-image: 
      url("../img/iphone-6.png"),
      url("../img/page-header-back.png");
    background-repeat: 
      no-repeat,
      no-repeat;
    background-size: 
      auto 645px,
      225%;
    background-position: 
      right bottom,
      center top 75%;
  }

  .page-header__mobile-svg {
    display: none;
  }

  .page-header__tablet-svg {
    display: none;
  }

  .page-header__desktop-svg {
    display: inline-block;
  }

  .page-header__wrapper {
    position: relative;
    background-color: transparent;
  }

  .page-header__desktop {
    background-color: rgba(0, 0, 0, 0.3);
  }
}